#nav{display: none;}
@media(min-width: 760px) {
    #menubtn {display: none;}
    #nav {display: flex; flex: auto; justify-content: flex-end;}
    #nav ul {display: flex;}
    #nav ul li {margin: 0 .4rem;}
    #nav ul li a {color: inherit;}
    #nav ul li a:hover {color: var(--primary);}
}