#form {
    display: flex;
    flex-direction: column;
}
#form input, #form select, #form textarea {
    margin: .5rem 0;
    border: 1px solid var(--grey);
    border-radius: var(--radius);
}
#form textarea {
    resize: none;
}