.modal {
    width: 500px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--grey);
    transition: .3s ease;
    position: relative;
    border-radius: var(--radius);
}
.upper {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 25%;
    padding: 0 1rem;
}
.upper #close {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.8rem;
}
.body {
    height: 50%;
    padding: 0 1rem;
}
.lower {
    display: flex;
    justify-content: end;
    height: 25%;
    padding: 0 1rem;
}
.lower button {
    margin-right: .4rem;
}