/*display*/
.block {display:block;}
.inline-block{display:inline-block;}
.inline{display:inline;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.hidden{display: none;}

/*flex*/
.flex-row{flex-direction:row;}
.flex-row-reverse{flex-direction:row-reverse;}
.flex-col{flex-direction:column;}
.flex-col-reverse{flex-direction:column-reverse;}
.flex-wrap{flex-wrap:wrap;}
.flex-wrap-reverse{flex-wrap:wrap-reverse;}
.flex-nowrap{flex-wrap:nowrap;}
.items-start{align-items:flex-start;}
.items-end{align-items:flex-end;}
.items-center{align-items:center;}
.items-baseline{align-items:baseline;}
.items-stretch{align-items:stretch;}
.self-start{align-self:flex-start;}
.self-end{align-self:flex-end;}
.self-center{align-self:center;}
.self-baseline{align-self:baseline;}
.self-stretch{align-self:stretch;}
.justify-start{justify-content:flex-start;}
.justify-end{justify-content:flex-end;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.justify-around{justify-content:space-around;}
.justify-evenly{justify-content:space-evenly;}
.justify-self-start{justify-self:start;}
.justify-self-end{justify-self:end;}
.justify-self-center{justify-self:center;}
.justify-self-stretch{justify-self:stretch;}

/*container*/

/*spacer*/
.spacer{flex:1;}

/*overflow*/
.overflow-hidden{overflow:hidden;}
.overflow-scroll{overflow:scroll;}

/*overscroll*/
.overscroll-none{overscroll-behavior:none;}
.overscroll-contain{overscroll-behavior:contain;}
.overscroll-auto{overscroll-behavior:auto;}

/*position*/
.static{position:static;}
.fixed{position:fixed;}
.absolute{position:absolute;}
.relative{position:relative;}
.sticky{position:sticky;}

/*z-index*/
.z-0{z-index:0px;}
.z-10{z-index:10px;}
.z-20{z-index:20px;}
.z-30{z-index:30px;}
.z-40{z-index:40px;}
.z-50{z-index:50px;}

/*appearance*/
.appearance-none{appearance:none;}

/*cursor*/
.cursor-pointer{cursor:pointer;}
.cursor-wait{cursor:wait;}
.cursor-text{cursor:text;}
.cursor-move{cursor:move;}
.cursor-not-allowed{cursor:not-allowed;}
